

.active {
  color: $secondColor;
  font-weight: bold;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}


.btn {
  display: inline-block;
  background-color: $secondColor;
  color: $textColorAlt;

  height: 40px;
  padding: 0 1.5em;

  line-height: 40px;
  border-radius: 3px;
  font-size: .9em;

  box-shadow: 0 3px 2px 0 rgba(#000, .16),
              0 0 5px 0 rgba(#000, .070);
  transition: all .25s;

  &:hover {
    box-shadow: none;
  }
}



.section {
  margin: 3em 0;
}